/* app css stylesheet */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css");

html, body {
    min-height: 100%;
    background-image: url("./../resources/desktopbg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-weight: bold;
}

/*Search Bar*/
input.transparent-input{
    background-color:transparent !important;
    border-radius: 5px;
    border: 1px solid white;
    font-size: x-large;
    color: white;
    padding: 5px;
    width: 95%;
}

.form-group{
    overflow: hidden;
}

button {
    background-color: transparent;
    /*background-repeat:no-repeat;*/
    border:none;
    cursor:pointer;
    /*overflow: hidden;*/
    outline:none;
    float:right;
}

#g-search-button {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    left: -22px;
    bottom:3px;
    background-color: transparent;
}

/*glyph color*/
.white, .white a {
    color: #fff;
    font-size:1.5em;
}

.grey, .grey a {
    color: grey;
    font-size:1.5em;
}


/*PlaceHolderText */
::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

/*Center Div*/
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: relative;
    margin-top: 30%;
    /*transform: translateY(400%);*/
}
